<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141295379521-p7n8c06v5minemh8876fuj9bnm8au8bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141295379521-p7n8c06v5minemh8876fuj9bnm8au8bp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141295379521-euecc0bd0j4jbsohfeig7djfo03g3je6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBp7i_0ylAGU1EAChqyXctY72D5n_w0UEw</string>
	<key>GCM_SENDER_ID</key>
	<string>141295379521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathan.wishtogether</string>
	<key>PROJECT_ID</key>
	<string>wishtogether-b3f17</string>
	<key>STORAGE_BUCKET</key>
	<string>wishtogether-b3f17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:141295379521:ios:1a52f6c9aef4c0ce2452c0</string>
	<key>DATABASE_URL</key>
	<string>https://wishtogether-b3f17-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7768123198632313~1473488290</string>
</dict>
</plist>
